@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-style: normal;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
  max-width: 100%;
  height: auto;
}
.center {
  width: 960px;
  margin: 0 auto;
}
.center-fuild {
  width: 1400px;
  margin: 0 auto;
}
body {
  text-align: center;
}
.clear {
  clear: both;
}
header {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachement: ;*/
}
div.top nav.menu {
  background-color: #000;
}
div.top nav.menu a.btn {
  display: none;
}
div.top nav.menu ul {
  display: flex;
}
div.top nav.menu ul li {
  width: 25%;
}
div.top nav.menu ul li:hover {
  background-color: orangered;
}
div.top nav.menu ul li a {
  font-size: 30px;
  line-height: 100px;
  color: #fff;
  display: block;
}
/* ------------------------ MEDIA QUERIES 960px ---- */
@media screen and (max-width: 500px) {
  .center {
    width: 100%;
    margin: 0;
  }
  div.top nav.menu {
    background-color: #000;
  }
  div.top nav.menu a.btn {
    display: block;
  }
  div.top nav.menu a.btn i.fas {
    width: 100%;
    font-size: 50px;
    color: red;
    line-height: 100px;
    transition: 0.5s;
  }
  div.top nav.menu a.btn .isopen {
    transform: rotate(90deg);
    transition: 0.5s;
    color: blue !important;
  }
  div.top nav.menu ul {
    flex-direction: column;
    display: none;
  }
  div.top nav.menu ul li {
    width: 100%;
  }
}
